/* General Purpose Targetting */
#project{
  background-color: #666666;
  color: #f7f7f7;
  line-height: 1.6;
}
.hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
.project-content{
  padding: 3% 4%;
}


/* Nav and Streetview */
#content-mini-nav {
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
  font-weight: 500;
  font-size: 1rem;
  text-decoration: underline;
}
#content-mini-nav p{
  cursor: pointer;
}
#placeholder {
  width: 100%;
  height: 215px;
  background: #fff;
}


/*Paragraph and Title*/
#project-title{
  background-color: #333;
  color: #fff;
  padding: 9px 5px;
  font-weight: 500;
  text-align: center;
}
#project-description {
  font-size: 1rem;
}
#project-description p {
  margin-bottom: 2%;
}


/* Data Tables Tabs */
#project-table-section {
  background: #f7f7f7;
  color: #666;
}
.tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tab-buttons {
  min-width: 25%;
  padding: 12px 0;
  border: none;
  border-radius: 3px;
  color: #666;
  cursor: pointer;
  font-size: 1.1rem;
  text-decoration: underline;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.3);
}
.active {
  font-weight: 900;
  background-color: #f7f7f7;
  color: #666;
  text-decoration: none;
  cursor: auto;
  box-shadow: none;
}
.tab-buttons:focus {
  outline: none;
}
.tab-buttons:hover {
  font-weight: 900;
}

/* Funding and Milestones Tables */
.table-wrapper {
  overflow-x: auto;
  overflow-y: auto;
}
.funding-and-awards-table {
  display: table;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 3px;
}
.funding-and-award-table tbody{
  border-top: 3px solid white;
  border-bottom: 3px solid white;
}
.funding-and-awards-table tr {
  width: 100%;
  border-bottom: 3px solid white;
  display: table;
  table-layout: fixed;
}
.funding-and-awards-table tr:last-child {
  border-bottom: none;
}
.funding-and-awards-table td {
  padding: 8px 0;
}
.table-links{
  text-decoration: underline;
}
.table-links:visited{
  color: #666;
}

/* No Tables */
#noFunding, #noMilestones {
  margin: 3%;
  font-size: 1.1rem;
}
#noMilestones {
  text-align: center;
}


/*Loading Styles */
#loadingProject {
  display: block;
  margin: 0 auto;
  margin-top: 20%;
}
#loadingBackground {
  text-align: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(to bottom, white 2%, rgba(0, 0, 0, 0.1) 80%, rgba(0, 0, 0, 0.2));
}


/* Media queries */
@media all and (max-width: 700px) {
  #project-title{
    font-size: 1.1rem;
  }
  #placeholder{
    height: 200px;
  }
  .project-content{
    padding: 3% 6%;
  }
  #project-description p, .tab-buttons, #noMilestones{
    font-size: 0.9rem;
  }
  .tabs{
    margin-bottom: 6px;
  }
  .tab-buttons{
    min-width: 20%;
    padding: 6px 0;
  }
  .table-wrapper{
    width: 110%;
    margin-left: -5%;
  }
  table {
    font-size: 0.7rem;
    table-layout: auto;
  }
  .table-data-rows, #funding-totals, #program-year-totals, #funding-subheaders {
    font-size: 0.7rem;
  }
}