.tile{
    color: #fff;
    position: relative;
    height: 40%;
    width: 48.5%;
    overflow: hidden;
    margin: 0.5%;
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.6);
    border: 1px solid #666;
    border-radius: 4px;
}
.tile:hover{
    box-shadow: 0px 0px 5px 1px rgba(255,255,255,0.6);
}

/* Text Content */
.tile-caption{
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,0) -10%,rgba(0,0,0,0.8) 75%);
    padding: 2rem 3px 3px;
}
.tile-caption-text{
    margin: 1% 0 2% 2%;
}
.tile-caption h2 {
    font-size: 1.5rem;
}
.tile-caption small {
    font-size: 1.1rem;
    box-decoration-break: clone;
}
.tile-caption p {
    padding-top: 2%;
    font-size: 1.1rem;
}
.tile-link{
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/* Funding Table */
.table-num{
    text-align: right;
}
table {
    margin: 0 auto;
    margin-top: 2%;
    display: table;
    width: 75%;
}
table thead, table tbody {
    width: 100%;
}
table thead {
    overflow-y: scroll;
    display: table;
    table-layout: fixed;
    width: calc(100% - 16px);
}
table tbody {
    overflow: auto;
    height: 60px;
    display: block;
}
table tr {
    width: 100%;
    text-align: left;
    display: table;
    table-layout: fixed;
}


/* Comments Button */
button{
    font-size: 1em;
    background: #457B9D;
    color: #fdfdfd;
    padding: 7px 2px 7px 2px;
    width: 20%;
    display: block;
    margin: 5% auto 0 auto;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
button:hover{
    opacity: 0.7;
}