.tilesContainer{
    background: #666666;
    overflow-x: hidden;
	width: 100%;
	display: flex;
    flex-wrap: wrap;
	overflow-y: scroll;
	justify-content: flex-start;
    margin-left: 1%;
}
.header{
    padding: 3%;
    display: flex;
    align-items: center;
    width: 100%;
    background: #333333;
    color: #FFFFFF;
    height: 12%;
}
.header h2{
    font-size: 1.3rem;
    font-weight: 400;
}
#no-results{
    margin: 0 auto;
    max-height: 5%;
    max-width: 8%;
}
#selectedCategory{
    margin: 0 6% 0 3%;
    padding: 8px;
    border-radius: 5px;
    border: none;
    font-size: 1em;
}
.vr{
    height: 45%;
    border: thin solid #ffffff;
    margin-right: 3%;
}