.tilesContainer{
    background: #666666;
    overflow-x: hidden;
	width: 40%;
	display: flex;
    flex-wrap: wrap;
	overflow-y: scroll;
	justify-content: flex-start;
    margin-left: 1vh;
}
.header{
    padding: 3%;
    display: flex;
    align-items: center;
    width: 100%;
    background: #333333;
    color: #FFFFFF;
    height: 12%;
}
.header h2{
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}
#no-results{
    margin: 0 auto;
    max-height: 5%;
    max-width: 8%;
}
#selectedCategory{
    padding: 8px 0;
    border-radius: 5px;
    border: none;
    font-size: 1em;
    width: 50%;
}
.numOfResults{
    width: 15%;
}
.results-toggle{
    display: flex;
    width: 15%;
}
.results-toggle:hover{
    cursor: pointer;
}
.results-toggle h2{
    margin: 0 10%;
}
.active-toggle{
    text-decoration: underline;
}
.vr{
    height: 45%;
    border: thin solid #ffffff;
    margin: 0 3%;
}

/* media queries */
 @media screen and (max-width: 880px) {
    .header h2 {
        font-size: 1rem;
    }
   .tilesContainer{
        margin-left: 0;
        max-height: 50vh;
        width: 100%;
   }
 }
  @media screen and (max-width: 600px) {
    .header h2, .header p {
        font-size: 0.8rem;
    }
    #selectedCategory{
        margin: 0 1% 0 1%;
        width: 45%;
        padding-right: 0px;
        font-size: 0.7rem;
    }
 }