.list-item{
    width: 100%;
    display: flex;
    padding: 4% 2%;
    border-bottom: 1px solid #f7f7f7;
}
.list-item:hover{
    cursor: pointer;
    background: #848484;
}
.list-category-thumbnail{
    width: 25%;
}
.list-text{
    display: flex;
    flex-direction: column;
    padding-left: 2%;
}
.list-text h2{
    font-size: 1rem;
    color: #fefefe;
    font-weight: 600;
}
.mpms{
    /*color: #f7ca18 !important;*/
    color: #f4d03f !important;
}
.list-text h3{
    font-size: 1rem;
    color: #add8e6;
    /*color: #bbd4d4;*/
    font-weight: 500;
}

@media screen and (max-width: 880px) {
    .list-text h2, .list-text h3 {
        font-size: 0.9rem;
    }
 }