.list-item{
    width: 100%;
    display: flex;
    padding: 4% 2%;
    border-bottom: 1px solid #f7f7f7;
}
.list-item:hover{
    cursor: pointer;
    background: #848484;
}
.list-category-thumbnail{
    width: 25%;
    margin: 0 1%;
    object-fit: "none";
    object-position: -1000px -1000px;
}
.list-text{
    display: flex;
    flex-direction: column;
    padding-left: 2%;
}
.list-text h2{
    font-size: 1rem;
    color: #fefefe;
    font-weight: 600;
}

.county-and-funding{
    font-weight: 500 !important;
}
.mpms{
    color: #f4d03f !important;
}

@media screen and (max-width: 880px) {
    .list-text h2, .list-text h3 {
        font-size: 0.8rem;
    }
 }