.navBar {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: 1vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-link-to-home {
  padding-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-logo{
  padding-right: 5%;
}
.nav-text{
  border-left: 2px solid #666;
  padding-left: 5%;
  width: 100%;
}
#draft-text {
  color: #333333;
}
#nav-search-form {
  margin-right: 1%;
  width: calc(39% - 1vh);
  border-top-left-radius: 10px;
  background: rgba(238, 238, 238, 0.7);
  border-radius: 10px;
}

@media screen and (max-width: 850px) {
  .navBar {
    height: 10vh;
  }
  .navbar-logo {
    display: none;
  }
  #nav-search-form {
    font-size: 1rem;
  }
  .nav-text {
    font-size: 0.5rem;
    border-left: none;
  }
  .nav-text img {
    width: 50%;
  }
}
@media screen and (max-width: 700px) {
  #navSearch,
  #navBarSelector {
    width: 100%;
  }
}
@media screen and (max-width: 550px) {
  #nav-search-form {
    width: 80%;
  }
}
@media screen and (max-width: 350px) {
  #nav-search-form {
    font-size: 0.7rem;
  }
}
