.navBar {
  position: relative;
  width: 100%;
  height: 10vh;
  margin-bottom: 1vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-link-to-home {
  padding-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-logo{
  padding-right: 5%;
}
.nav-text{
  border-left: 2px solid #666;
  padding-left: 5%;
  width: 100%;
}
#draft-text {
  color: #333333;
}
#nav-search-form {
  margin-right: 1%;
  width: calc(39% - 1vh);
  background: #f7f7f7;
  border-radius: 5px;
}

@media screen and (max-width: 850px) {
  .navBar {
    height: 10vh;
  }
  .navbar-logo {
    display: none;
  }
  #nav-search-form {
    font-size: 1rem;
  }
  .nav-text {
    font-size: 0.5rem;
    border-left: none;
  }
  .nav-text img {
    width: 50%;
  }
}
@media screen and (max-width: 700px) {
  #nav-search-form {
    width: 65%;
    font-size: 0.8rem;
  }
  ::-webkit-input-placeholder {
    font-size: 0.8rem;
  }
  ::-moz-placeholder {
    font-size: 0.8rem;
  }
  :-ms-input-placeholder {
    font-size: 0.8rem;
  }
  ::placeholder {
    font-size: 0.8rem;
  }
}

