.footer {
  color: white;
  background: #333333;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 6% 3%;
  font-size: 1rem;
}
#footer-mailing{
  width: 28%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer a {
  color: unset;
}

/*media queries*/
 @media screen and (max-width: 880px) {
  .footer{
    font-size: 0.8rem;
  }
 }