/* Comments component */
.comments {
background: #333333;
margin-top: 2%;
padding: 5% 2% 10% 2%;
}
.comments h1 {
font-weight: 400;
color: #ffffff;
text-align: center;
padding-bottom: 6%;
}
.comments-form {
display: flex;
width: 90%;
margin: 0 auto;
}
.comments-form textarea {
font-family: "Open Sans", "lucida grande", "Segoe UI", arial, verdana,
    "lucida sans unicode", tahoma, sans-serif;
font-size: 1.2rem;
border-radius: 3px;
width: 48%;
padding: 1%;
}
.input-fields {
padding-left: 1%;
width: 50%;
display: flex;
flex-direction: column;
justify-content: space-between;
min-height: calc(15rem + 8px);
}
.comment-form-info {
font-family: "Open Sans", "lucida grande", "Segoe UI", arial, verdana,
    "lucida sans unicode", tahoma, sans-serif;
font-size: 1.2rem;
padding: 0.375rem 1.75rem 0.375rem 0.75rem;
height: calc(2.25rem + 2px);
border-radius: 3px;
border-style: none;
}
.custom-select {
font-family: "Open Sans", "lucida grande", "Segoe UI", arial, verdana,
    "lucida sans unicode", tahoma, sans-serif;
font-size: 1rem;
display: inline-block;
width: 100%;
height: calc(3.25rem + 2px);
padding: 0.375rem 1.75rem 0.375rem 0.75rem;
line-height: 1.5;
color: #495057;
vertical-align: middle;
background: #fff
    url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' v…0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E")
    no-repeat right 0.75rem center;
background-size: 8px 10px;
border: 1px solid #ced4da;
border-radius: 0.25rem;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}
#submitCommentButton {
font-size: 1rem;
width: 100%;
margin: 0 auto;
padding: 3% 0 3% 0;
border: none;
border-radius: 3px;
color: #f1f1f1;
cursor: pointer;
-webkit-box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.75);
-moz-box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.75);
box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.75);
}
#submitCommentButton:focus {
outline: none;
}
#submitCommentButton:active {
-webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.75);
-moz-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.75);
box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.75);
}

/* media queries */
@media screen and (max-width: 700px) {
.comments h1 {
    font-size: 1.2rem;
}
.comments-form textarea, .comment-form-info, #submitCommentButton {
    font-size: 1rem;
}
}