.contentContainer{
    background: #666666;
    overflow-x: hidden;
	width: 43%;
	display: flex;
    flex-wrap: wrap;
	overflow-y: scroll;
	justify-content: flex-start;
    margin-left: 1vh;
}


/* media queries */
 @media screen and (max-width: 880px) {
   .contentContainer{
        margin-left: 0;
        max-height: 50vh;
        width: 100%;
   }
 }